<h3><%= @project_idea.title %></h3>
<p><%= @project_idea.content %></p>


<p>Created by: <%= @project_idea.user.name %></p>

<p>created on <%= @project_idea.formatted_created_at %></p>

#if project idea.ststus != true
#form class="" action="/project_ideas/<%= @project_idea.id %>" method="post">#
#input type="submit" name="" value="claim this project">
<form action="/project_ideas/status" method="post">
  <input id="hidden" type="hidden" name="id" value="<%= @project_idea.id %>">
  <input type="submit" value="Claim">
</form>

<% if authorized_to_edit?(@project_idea) %>
  <a href="/project_ideas/<%= @project_idea.id %>/edit">Edit Idea</a>
  <br><br>
  <form class="" action="/project_ideas/<%= @project_idea.id %>" method="post">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" name="" value="Delete this project idea">
  </form>
<% end %>
